.home .title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1,2;
}

.home .subtitle{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.1 rem;
}